.resume {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  margin-left: 25px;
}

.experiences_title {
  /* font-family: "Epilogue", sans-serif;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 600;
  color: #6f4c5b; */
}
