.icon_container {
  margin-right: 22px;
  color: #f0e9e9;
  transition: all 0.2s ease-in-out;
}

.icon_container:visited {
  color: #f0e9e9;
}

.icon_container:active {
  color: #f0e9e9;
}

.icon_container:hover {
  color: #f7cc47;
  transform: scale(1.1);
}
