.section_1 {
  /* height: 120vh; */
  background-color: #6f4c5b;

  /* grid display */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.intro {
  position: relative;
}

.intro_img {
  padding-left: 30px;
  padding-right: 30px;
  width: 80%; /* scale with the container */
}

.paragraph {
  margin-right: 70px;
}

.section_2 {
  display: grid;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background-color: #f0e9e9;
  /* grid-template-columns: repeat(2, 1fr); */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
