.section_1 {
  background-color: #6f4c5b;

  /* grid display */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.intro {
  position: relative;
  text-align: center;
}

.info {
  margin-left: 20px;
}

.intro_img {
  padding-left: 30px;
  margin-bottom: 20px;
  padding-right: 30px;
  width: 70%; /* scale with the container */
}

.paragraph {
  margin-right: 70px;
}

.section_2 {
  display: grid;
  padding-top: 7vh;
  padding-bottom: 7vh;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.info_cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill_container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill_icon {
  font-size: 25px;
  margin-right: 10px;
}

/* .info_cards > div {
  margin-bottom: 20px;
} */
