.container_1 {
  height: 100vh;
  background-color: #8b5d5d;

  /* grid display */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.intro {
  position: relative;
}

.intro_img {
  padding-left: 30px;
  padding-right: 30px;
  width: 90%; /* scale with the container */
}

.paragraph {
  margin-right: 70px;
}
