.bar {
  width: 25px;
  height: 5px;
  border-radius: 30px;
  margin-right: 5px;
}

.filled {
  background-color: #6f4c5b;
  border: 3px solid #6f4c5b;
}

.empty {
  border: 3px solid #6f4c5b;
}

.progress_bar {
  display: flex;
}
